<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div *ngFor='let rdwinfo of rdwinfos'>
  <div class="col-xs-1 text-center">
    <h1> {{ rdwinfo.kenteken }} </h1>
  </div>
  <table>
    <tr>
      <th>Eigenschap</th>
      <th>Waarde</th>
    </tr>
    <tr>
      <td>Merk</td>
      <td>{{ rdwinfo.merk }}</td>
    </tr>
    <tr>
      <td>Handelsbenaming</td>
      <td>{{ rdwinfo.handelsbenaming }}</td>
    </tr>
    <tr>
      <td>Inrichting</td>
      <td>{{rdwinfo.inrichting }}</td>
    </tr>
    <tr>
      <td>Voertuigsoort</td>
      <td>{{rdwinfo.voertuigsoort }}</td>
    </tr>
    <tr>
      <td>Eerste kleur</td>
      <td>{{rdwinfo.eerste_kleur }}</td>
    </tr>
    <tr>
      <td>Tweede kleur</td>
      <td>{{rdwinfo.tweede_kleur }}</td>
    </tr>
    <tr>
      <td>Bruto BPM</td>
      <td>{{rdwinfo.bruto_bpm }}</td>
    </tr>
    <tr>
      <td>Cilinderinhoud</td>
      <td>{{rdwinfo.cilinderinhoud }}</td>
    </tr>
    <tr>
      <td>Datum tenaamstelling</td>
      <td>{{rdwinfo.datum_tenaamstelling }}</td>
    </tr>
    <tr>
      <td>Datum eerste afgifte Nederland</td>
      <td>{{rdwinfo.datum_eerste_afgifte_nederland }}</td>
    </tr>
    <tr>
      <td>Datum eerste toelating</td>
      <td>{{rdwinfo.datum_eerste_toelating }}</td>
    </tr>
    <tr>
      <td>Vervaldatum APK</td>
      <td>{{rdwinfo.vervaldatum_apk }}</td>
    </tr>
    <tr>
      <td>Aantal cilinders</td>
      <td>{{rdwinfo.aantal_cilinders }}</td>
    </tr>
    <tr>
      <td>Aantal deuren</td>
      <td>{{rdwinfo.aantal_deuren }}</td>
    </tr>
    <tr>
      <td>Aantal wielen</td>
      <td>{{rdwinfo.aantal_wielen }}</td>
    </tr>
    <tr>
      <td>Aantal zitplaatsen</td>
      <td>{{rdwinfo.aantal_zitplaatsen }}</td>
    </tr>
    <tr>
      <td>Europese voertuigcategorie</td>
      <td>{{rdwinfo.europese_voertuigcategorie }}</td>
    </tr>
    <tr>
      <td>Export indicator</td>
      <td>{{rdwinfo.export_indicator }}</td>
    </tr>
    <tr>
      <td>Massa ledig voertuig</td>
      <td>{{rdwinfo.massa_ledig_voertuig }}</td>
    </tr>
    <tr>
      <td>Massa rijklaar</td>
      <td>{{rdwinfo.massa_rijklaar }}</td>
    </tr>
    <tr>
      <td>Maximum massa samenstelling</td>
      <td>{{rdwinfo.maximum_massa_samenstelling }}</td>
    </tr>
    <tr>
      <td>Maximum massa trekken ongeremd</td>
      <td>{{rdwinfo.maximum_massa_trekken_ongeremd }}</td>
    </tr>
    <tr>
      <td>Maximum trekken massa geremd</td>
      <td>{{rdwinfo.maximum_trekken_massa_geremd }}</td>
    </tr>

    <tr>
      <td>Openstaande terugroepactie indicator</td>
      <td>{{rdwinfo.openstaande_terugroepactie_indicator }}</td>
    </tr>
    <tr>
      <td>Plaats chassisnummer</td>
      <td>{{rdwinfo.plaats_chassisnummer }}</td>
    </tr>
    <tr>
      <td>Retrofit roetfilter</td>
      <td>{{rdwinfo.retrofit_roetfilter }}</td>
    </tr>
    <tr>
      <td>Taxi indicator</td>
      <td>{{rdwinfo.taxi_indicator }}</td>
    </tr>
    <tr>
      <td>Technische max massa voertuig</td>
      <td>{{rdwinfo.technische_max_massa_voertuig }}</td>
    </tr>
    <tr>
      <td>Toegestane maximum massa voertuig</td>
      <td>{{rdwinfo.toegestane_maximum_massa_voertuig }}</td>
    </tr>
    <tr>
      <td>Vermogen massarijklaar</td>
      <td>{{rdwinfo.vermogen_massarijklaar }}</td>
    </tr>
    <tr>
      <td>Wacht op keuren</td>
      <td>{{rdwinfo.wacht_op_keuren }}</td>
    </tr>
    <tr>
      <td>Wam verzekerd</td>
      <td>{{rdwinfo.wam_verzekerd }}</td>
    </tr>
    <tr>
      <td>Wielbasis</td>
      <td>{{rdwinfo.wielbasis }}</td>
    </tr>
  </table>

  <!-- <h5> api_gekentekende_voertuigen_assen: {{rdwinfo.api_gekentekende_voertuigen_assen  }}</h5>
  <h5> api_gekentekende_voertuigen_brandstof: {{rdwinfo.api_gekentekende_voertuigen_brandstof  }}</h5>
  <h5> api_gekentekende_voertuigen_carrosserie: {{rdwinfo.api_gekentekende_voertuigen_carrosserie  }}</h5>
  <h5> api_gekentekende_voertuigen_carrosserie_specifiek:
    {{rdwinfo.api_gekentekende_voertuigen_carrosserie_specifiek  }}</h5>
  <h5> api_gekentekende_voertuigen_voertuigklasse: {{rdwinfo.api_gekentekende_voertuigen_voertuigklasse  }}</h5> -->
</div>