<hr>
<div *ngFor='let rdwinfo of rdwinfos' style="text-align:center">
  <h2> {{ rdwinfo.kenteken }} </h2>
  <h3> {{ rdwinfo.merk }} </h3>
  <h3> {{ rdwinfo.handelsbenaming }} </h3>
  <h5> aantal_cilinders: {{rdwinfo.aantal_cilinders  }}</h5>
  <h5> aantal_deuren: {{rdwinfo.aantal_deuren  }}</h5>
  <h5> aantal_wielen: {{rdwinfo.aantal_wielen  }}</h5>
  <h5> aantal_zitplaatsen: {{rdwinfo.aantal_zitplaatsen  }}</h5>
  <h5> api_gekentekende_voertuigen_assen: {{rdwinfo.api_gekentekende_voertuigen_assen  }}</h5>
  <h5> api_gekentekende_voertuigen_brandstof: {{rdwinfo.api_gekentekende_voertuigen_brandstof  }}</h5>
  <h5> api_gekentekende_voertuigen_carrosserie: {{rdwinfo.api_gekentekende_voertuigen_carrosserie  }}</h5>
  <h5> api_gekentekende_voertuigen_carrosserie_specifiek:
    {{rdwinfo.api_gekentekende_voertuigen_carrosserie_specifiek  }}</h5>
  <h5> api_gekentekende_voertuigen_voertuigklasse: {{rdwinfo.api_gekentekende_voertuigen_voertuigklasse  }}</h5>
  <h5> bruto_bpm: {{rdwinfo.bruto_bpm  }}</h5>
  <h5> cilinderinhoud: {{rdwinfo.cilinderinhoud  }}</h5>
  <h5> datum_eerste_afgifte_nederland: {{rdwinfo.datum_eerste_afgifte_nederland  }}</h5>
  <h5> datum_eerste_toelating: {{rdwinfo.datum_eerste_toelating  }}</h5>
  <h5> datum_tenaamstelling: {{rdwinfo.datum_tenaamstelling  }}</h5>
  <h5> eerste_kleur: {{rdwinfo.eerste_kleur  }}</h5>
  <h5> europese_voertuigcategorie: {{rdwinfo.europese_voertuigcategorie  }}</h5>
  <h5> export_indicator: {{rdwinfo.export_indicator  }}</h5>
  <h5> handelsbenaming: {{rdwinfo.handelsbenaming  }}</h5>
  <h5> inrichting: {{rdwinfo.inrichting  }}</h5>
  <h5> kenteken: {{rdwinfo.kenteken  }}</h5>
  <h5> massa_ledig_voertuig: {{rdwinfo.massa_ledig_voertuig  }}</h5>
  <h5> massa_rijklaar: {{rdwinfo.massa_rijklaar  }}</h5>
  <h5> maximum_massa_samenstelling: {{rdwinfo.maximum_massa_samenstelling  }}</h5>
  <h5> maximum_massa_trekken_ongeremd: {{rdwinfo.maximum_massa_trekken_ongeremd  }}</h5>
  <h5> maximum_trekken_massa_geremd: {{rdwinfo.maximum_trekken_massa_geremd  }}</h5>
  <h5> merk: {{rdwinfo.merk  }}</h5>
  <h5> openstaande_terugroepactie_indicator: {{rdwinfo.openstaande_terugroepactie_indicator  }}</h5>
  <h5> plaats_chassisnummer: {{rdwinfo.plaats_chassisnummer  }}</h5>
  <h5> retrofit_roetfilter: {{rdwinfo.retrofit_roetfilter  }}</h5>
  <h5> taxi_indicator: {{rdwinfo.taxi_indicator  }}</h5>
  <h5> technische_max_massa_voertuig: {{rdwinfo.technische_max_massa_voertuig  }}</h5>
  <h5> toegestane_maximum_massa_voertuig: {{rdwinfo.toegestane_maximum_massa_voertuig  }}</h5>
  <h5> tweede_kleur: {{rdwinfo.tweede_kleur  }}</h5>
  <h5> vermogen_massarijklaar: {{rdwinfo.vermogen_massarijklaar  }}</h5>
  <h5> vervaldatum_apk: {{rdwinfo.vervaldatum_apk  }}</h5>
  <h5> voertuigsoort: {{rdwinfo.voertuigsoort  }}</h5>
  <h5> wacht_op_keuren: {{rdwinfo.wacht_op_keuren  }}</h5>
  <h5> wam_verzekerd: {{rdwinfo.wam_verzekerd  }}</h5>
  <h5> wielbasis: {{rdwinfo.wielbasis  }}</h5>
</div>