<div *ngIf="kenteken">
  <div>
    <ul>
        <a routerLink="/details/{{kenteken.Kenteken}}">
          {{ kenteken.Kenteken }}
        </a>
    </ul>
  </div>
  <div>
    <label>Merk: </label> {{kenteken.Merk}}
  </div>
  <div>
    <label>Handelsbenaming: </label> {{kenteken.Handelsbenaming}}
  </div>
  <div>
    <label>Voertuigsoort: </label> {{kenteken.Voertuigsoort }}
  </div>
  <div>
    <label>Eerste kleur: </label> {{ kenteken.EersteKleur }}
  </div>
  <div>
    <label>Tweede kleur: </label> {{ kenteken.TweedeKleur }}
  </div>
  <div>
    <label>Datum eerste toelating: </label> {{ kenteken.DatumEersteToelating }}
  </div>
  <hr />
</div>